# Stragi for analyse
Back at 14:00

In [492]:
import pandas as pd
import numpy as np
import math

In [493]:
df = pd.read_csv(".\stud-stat-anonymous.csv")

In [494]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 12 columns):
Unnamed: 0       223 non-null int64
Id               223 non-null int64
Samlet fravær    223 non-null object
Klasse           223 non-null object
Fag              223 non-null object
Fravær           223 non-null object
Fag.1            223 non-null object
Fravær.1         223 non-null object
Fag.2            168 non-null object
Fravær.2         168 non-null object
Fag.3            29 non-null object
Fravær.3         29 non-null object
dtypes: int64(2), object(10)
memory usage: 21.0+ KB

Need to converet obejcts to int or float

In [495]:
d = {'student': [], 'team': [], 'absence': []}
newdf= pd.DataFrame(data=d)

In [496]:
newdf

Empty DataFrame
Columns: [student, team, absence]
Index: []

In [497]:
#remove the cap 500k
tmp= df[df["Unnamed: 0"] == 0]

In [498]:
def isNaN(num):
    return num != num

In [499]:
#df1 = df1.append({'student':tmp.values[0][1],'team':tmp.values[0][3],'absence':tmp.values[0][2]}, ignore_index=True)
#df1 = df1.append({'student':tmp.values[0][1],'team':tmp.values[0][4],'absence':tmp.values[0][5]}, ignore_index=True)
#df1 = df1.append({'student':tmp.values[0][1],'team':tmp.values[0][6],'absence':tmp.values[0][7]}, ignore_index=True)
#df1 = df1.append({'student':tmp.values[0][1],'team':tmp.values[0][8],'absence':tmp.values[0][9]}, ignore_index=True)

In [500]:
newdf

Empty DataFrame
Columns: [student, team, absence]
Index: []

In [501]:
for index, row in df.iterrows():
    #row["Fag"]
    #df1 = df1.append({'student':row['Id'],'team':row['Klasse'],'absence':row['Samlet fravær'], ignore_index=True)
    
    #Todo!!
    #if isNaN(row["Fravær"])is False: row["Fravær"] = float(row["Fravær"].replace('%', ''))
    #if isNaN(row["Fravær.1"])is False:row["Fravær.1"] = float(row["Fravær.1"].replace('%', ''))
    #if isNaN(row["Fravær.2"])is False:row["Fravær.2"] = float(row["Fravær.2"].replace('%', ''))
    #if isNaN(row["Fravær.3"])is False:row["Fravær.3"] = float(row["Fravær.3"].replace('%', ''))
    #print(isNaN(row["Fravær.3"]))
    
    newdf = newdf.append({'student':row['Id'],'team':row['Fag'],'absence':row['Fravær']}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':row['Fag.1'],'absence':row['Fravær.1']}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':tmp.values[0][6],'absence':row['Fravær.2']}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':tmp.values[0][8],'absence':row['Fravær.3']}, ignore_index=True)

In [502]:
newdf = newdf.dropna()

In [503]:
arr =newdf["absence"].values
tmp = []
for x in arr:
    x= float(x.replace('%', ''))
    
    tmp.append(x)

In [504]:
newdf =newdf.drop(['absence'], axis=1)
newdf['absence'] = tmp
newdf.head()

    student          team  absence
0  866066.0       Angular    100.0
1  866066.0  Web Security    100.0
4  130671.0       Angular    100.0
5  130671.0  Web Security    100.0
8  313022.0       Angular    100.0

In [515]:
newdf = newdf[newdf["absence"] <= 75.0]

In [519]:
team_encode,team_cat = newdf['team'].factorize()

In [517]:
newdf["team_cat"] = team_encode

In [518]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 507 entries, 89 to 890
Data columns (total 4 columns):
student     507 non-null float64
team        507 non-null object
absence     507 non-null float64
team_cat    507 non-null int64
dtypes: float64(2), int64(1), object(1)
memory usage: 19.8+ KB

In [521]:
newdf.head()

      student             team  absence  team_cat
89   645146.0  IT Governance 2     0.00         0
93   885986.0  IT Governance 2     0.00         0
97   552567.0  IT Governance 2     0.00         0
100  901019.0        Databases    50.00         1
104  802192.0          Angular    66.67         2