# Stragi for analyse
Prep the dataset for training

In [89]:
import pandas as pd
import numpy as np
import math

In [90]:
#Read the dataframe
df = pd.read_csv(".\stud-stat-anonymous.csv")

In [91]:
#Create a new dataframe, that store the prep data
d = {'student': [], 'team': [], 'absence': [],'isClass': []}
newdf= pd.DataFrame(data=d)

In [92]:
newdf

Empty DataFrame
Columns: [student, team, absence, isClass]
Index: []

In [93]:
#insert multi rows pr student, so that's not spars that in the set
for index, row in df.iterrows():
    #row["Fag"]
    #newdf = newdf.append({'student':row['Id'],'Class':row['Klasse']}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':row['Klasse'],'absence':row['Samlet fravær'],'isClass':True}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':row['Fag'],'absence':row['Fravær'],'isClass':False}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':row['Fag.1'],'absence':row['Fravær.1'],'isClass':False}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':row['Fag.2'],'absence':row['Fravær.2'],'isClass':False}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':row['Fag.3'],'absence':row['Fravær.3'],'isClass':False}, ignore_index=True)

In [94]:
newdf

       student                    team absence isClass
0     214366.0  Web and Soft Electives    100%       1
1     214366.0                Big Data    100%   False
2     214366.0                     NaN     NaN   False
3     214366.0                     NaN     NaN   False
4     214366.0                     NaN     NaN   False
5     680092.0  Web and Soft Electives    100%    True
6     680092.0                 Angular    100%   False
7     680092.0            Web Security    100%   False
8     680092.0                     NaN     NaN   False
9     680092.0                     NaN     NaN   False
10    906441.0  Web and Soft Electives    100%    True
11    906441.0                 Angular    100%   False
12    906441.0            Web Security    100%   False
13    906441.0                     NaN     NaN   False
14    906441.0                     NaN     NaN   False
15    432875.0  Web and Soft Electives    100%    True
16    432875.0                 Angular    100%   False
17    432875.0            Web Security    100%   False
18    432875.0                     NaN     NaN   False
19    432875.0                     NaN     NaN   False
20    146518.0  Web and Soft Electives    100%    True
21    146518.0                 Angular    100%   False
22    146518.0            Web Security    100%   False
23    146518.0                     NaN     NaN   False
24    146518.0                     NaN     NaN   False
25    864755.0  Web and Soft Electives    100%    True
26    864755.0                 Angular    100%   False
27    864755.0            Web Security    100%   False
28    864755.0                     NaN     NaN   False
29    864755.0                     NaN     NaN   False
...        ...                     ...     ...     ...
1090  293438.0                 ITS19w1      0%    True
1091  293438.0  Intro til IT Sikkerhed      0%   False
1092  293438.0  Net. and Com. security      0%   False
1093  293438.0         System Security      0%   False
1094  293438.0                     NaN     NaN   False
1095  803561.0                 Web19w1      0%    True
1096  803561.0         Web Development      0%   False
1097  803561.0        Interface Design      0%   False
1098  803561.0               Databases      0%   False
1099  803561.0                     NaN     NaN   False
1100  976720.0                 Web19w1      0%    True
1101  976720.0         Web Development      0%   False
1102  976720.0        Interface Design      0%   False
1103  976720.0               Databases      0%   False
1104  976720.0                     NaN     NaN   False
1105  172012.0                 Web19w1      0%    True
1106  172012.0         Web Development      0%   False
1107  172012.0        Interface Design      0%   False
1108  172012.0               Databases      0%   False
1109  172012.0                     NaN     NaN   False
1110  491703.0                 Web19w1      0%    True
1111  491703.0         Web Development      0%   False
1112  491703.0        Interface Design      0%   False
1113  491703.0               Databases      0%   False
1114  491703.0                     NaN     NaN   False
1115  532264.0                 Web19w1      0%    True
1116  532264.0         Web Development      0%   False
1117  532264.0        Interface Design      0%   False
1118  532264.0               Databases      0%   False
1119  532264.0                     NaN     NaN   False

[1120 rows x 4 columns]

In [95]:
#drop any spars data
newdf = newdf.dropna()

In [96]:
#convert the absence from a string to float and removing the % symbole

arr =newdf["absence"].values
tmp = []
for x in arr:
    x= float(x.replace('%', '')) 
    tmp.append(x)
    
newdf =newdf.drop(['absence'], axis=1)
newdf['absence'] = tmp

In [97]:

newdf['absence'].unique()

array([100.  ,  96.9 ,   0.  ,  90.9 ,  80.  ,  88.5 ,  72.22,  88.  ,
        79.31,  87.7 ,  85.71,  87.88,  86.2 ,  68.75,  63.64,  55.56,
        85.5 ,  50.  ,  84.6 ,  77.  ,  61.11,  87.5 ,  88.89,  72.4 ,
        68.42,  75.  ,  72.1 ,  81.82,  71.3 ,  71.2 ,  18.18,  70.1 ,
        66.67,  68.  ,  68.97,  67.8 ,  67.7 ,  57.58,  81.25,  72.73,
        66.7 ,  65.4 ,  73.68,  57.14,  63.6 ,  60.  ,  33.33,  59.8 ,
        44.44,  58.5 ,  92.86,  60.61,  31.25,  57.5 ,  55.2 ,  22.22,
        54.5 ,  16.67,  53.  ,  22.73,  71.43,  51.7 ,  71.05,  37.5 ,
        49.4 ,  37.04,  49.2 ,  55.26,  40.91,  48.8 ,  38.89,  48.6 ,
        28.57,  48.5 ,  48.3 ,  11.11,  47.7 ,  64.29,  18.75,  47.  ,
        36.11,  46.  ,  37.93,  53.7 ,  45.7 ,  81.58,  14.29,  45.5 ,
        44.6 ,  35.71,  41.38,  43.9 ,  53.33,  43.1 ,  42.42,  42.9 ,
        31.03,  42.86,  42.4 ,  30.  ,  52.78,  41.4 ,  78.95,  12.5 ,
        83.33,  25.  ,  40.9 ,  70.  ,  40.7 ,  23.68,  37.9 ,  36.9 ,
        39.39,  36.8 ,  36.84,  36.4 ,  40.  ,  35.6 ,  51.72,  27.78,
        35.4 ,  34.8 ,  34.7 ,  33.8 ,  33.3 ,  60.53,  31.2 ,   2.78,
        30.5 ,  10.34,  29.2 ,  30.3 ,  29.  ,  52.63,  28.8 ,  20.  ,
        28.7 ,  27.7 ,  27.6 ,  31.58,  63.16,  27.3 ,  26.8 ,  26.32,
        25.9 ,  25.5 ,  24.07,  24.3 ,  24.1 ,  23.5 ,  47.37,  23.  ,
         5.26,  22.6 ,  20.69,  21.5 ,  24.24,  15.15,  20.7 ,  20.2 ,
        19.7 ,  19.5 ,  13.16,  18.5 ,  18.4 ,  18.3 ,  18.2 ,  36.67,
        17.6 ,  17.4 ,  17.  ,  16.9 ,  21.43,  16.2 ,  15.8 ,  15.3 ,
        13.6 ,  17.24,  26.67,  13.  ,  12.9 ,  12.2 ,  10.7 ,  23.08,
        10.6 ,  12.12,  10.5 ,  10.2 ,   9.7 ,  10.53,   9.26,   9.2 ,
         5.56,   9.1 ,   8.1 ,  18.52,   7.4 ,   7.3 ,   7.1 ,   7.  ,
         1.72,   6.9 ,  15.79,   6.5 ,   6.2 ,   6.1 ,   5.7 ,   5.1 ,
         4.8 ,   4.6 ,   3.4 ,   3.1 ,   1.  ])

In [98]:
#remove all rows where the column absence is bigger then 75
newdf = newdf[newdf["absence"] <= 75.0]
#create an team id, so if we want to do ML that takes a parameter team, we can use team id.
team_encode,team_id = newdf['team'].factorize()
newdf["team_id"] = team_encode
columnsTitles=["student","team","team_id","absence","class"]
newdf=newdf.reindex(columns=columnsTitles)

In [99]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 722 entries, 117 to 1118
Data columns (total 5 columns):
student    722 non-null float64
team       722 non-null object
team_id    722 non-null int64
absence    722 non-null float64
class      0 non-null float64
dtypes: float64(3), int64(1), object(1)
memory usage: 33.8+ KB

In [100]:
newdf.head()

      student                    team  team_id  absence  class
117  215571.0         IT Governance 2        0     0.00    NaN
122  542155.0         IT Governance 2        0     0.00    NaN
127  825970.0         IT Governance 2        0     0.00    NaN
136  543558.0  Intro til IT Sikkerhed        1    72.22    NaN
147  613200.0         IT Governance 2        0     0.00    NaN

In [101]:
newdf

       student                         team  team_id  absence  class
117   215571.0              IT Governance 2        0     0.00    NaN
122   542155.0              IT Governance 2        0     0.00    NaN
127   825970.0              IT Governance 2        0     0.00    NaN
136   543558.0       Intro til IT Sikkerhed        1    72.22    NaN
147   613200.0              IT Governance 2        0     0.00    NaN
152   615329.0              IT Governance 2        0     0.00    NaN
154   615329.0         Reverse Eng. Malware        2    68.75    NaN
156   699025.0                     Big Data        3    63.64    NaN
161   751804.0              Web Development        4    55.56    NaN
166   328555.0                    Databases        5    50.00    NaN
172   723459.0              IT Governance 2        0     0.00    NaN
174   723459.0         Reverse Eng. Malware        2    50.00    NaN
176   396493.0       Intro til IT Sikkerhed        1    61.11    NaN
180   635774.0                        SD18i        6    72.40    NaN
181   635774.0                          DLS        7    68.42    NaN
183   635774.0                 Data Science        8    75.00    NaN
185   646053.0                        SD18i        6    72.10    NaN
186   646053.0                          DLS        7    68.42    NaN
187   646053.0           System Integration        9     0.00    NaN
190   879390.0                      ITS19w1       10    71.30    NaN
191   879390.0       Intro til IT Sikkerhed        1    55.56    NaN
192   879390.0       Net. and Com. security       11    75.00    NaN
195   666991.0       Web and Soft Electives       12    71.20    NaN
196   666991.0                     Big Data        3    18.18    NaN
197   666991.0                    Databases        5    50.00    NaN
200   397345.0                      ITS19w1       10    70.10    NaN
201   397345.0       Intro til IT Sikkerhed        1    61.11    NaN
203   397345.0              System Security       13    55.56    NaN
205   179935.0                      ITS19w1       10    70.10    NaN
206   179935.0       Intro til IT Sikkerhed        1    61.11    NaN
...        ...                          ...      ...      ...    ...
1084  700477.0         Reverse Eng. Malware        2     0.00    NaN
1085  223338.0                       ITS18a       16     0.00    NaN
1086  223338.0  Security for mobile devices       22     0.00    NaN
1087  223338.0              IT Governance 2        0     0.00    NaN
1088  223338.0         Security Engineering       17     0.00    NaN
1089  223338.0         Reverse Eng. Malware        2     0.00    NaN
1090  293438.0                      ITS19w1       10     0.00    NaN
1091  293438.0       Intro til IT Sikkerhed        1     0.00    NaN
1092  293438.0       Net. and Com. security       11     0.00    NaN
1093  293438.0              System Security       13     0.00    NaN
1095  803561.0                      Web19w1       20     0.00    NaN
1096  803561.0              Web Development        4     0.00    NaN
1097  803561.0             Interface Design       21     0.00    NaN
1098  803561.0                    Databases        5     0.00    NaN
1100  976720.0                      Web19w1       20     0.00    NaN
1101  976720.0              Web Development        4     0.00    NaN
1102  976720.0             Interface Design       21     0.00    NaN
1103  976720.0                    Databases        5     0.00    NaN
1105  172012.0                      Web19w1       20     0.00    NaN
1106  172012.0              Web Development        4     0.00    NaN
1107  172012.0             Interface Design       21     0.00    NaN
1108  172012.0                    Databases        5     0.00    NaN
1110  491703.0                      Web19w1       20     0.00    NaN
1111  491703.0              Web Development        4     0.00    NaN
1112  491703.0             Interface Design       21     0.00    NaN
1113  491703.0                    Databases        5     0.00    NaN
1115  532264.0                      Web19w1       20     0.00    NaN
1116  532264.0              Web Development        4     0.00    NaN
1117  532264.0             Interface Design       21     0.00    NaN
1118  532264.0                    Databases        5     0.00    NaN

[722 rows x 5 columns]