# Stragi for analyse
Prep the dataset for training

In [162]:
import pandas as pd
import numpy as np
import math

In [163]:
#Read the dataframe
df = pd.read_csv(".\stud-stat-anonymous.csv")

In [164]:
#Create a new dataframe, that store the prep data
d = {'student': [], 'team': [], 'absence': []}
newdf= pd.DataFrame(data=d)

In [165]:
#insert multi rows pr student, so that's not spars that in the set
for index, row in df.iterrows():
    #row["Fag"]
    #newdf = newdf.append({'student':row['Id'],'team':row['Klasse'],'absence':row['Samlet fravær']}, ignore_index=True)
    
    newdf = newdf.append({'student':row['Id'],'team':row['Fag'],'absence':row['Fravær']}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':row['Fag.1'],'absence':row['Fravær.1']}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':row['Fag.2'],'absence':row['Fravær.2']}, ignore_index=True)
    newdf = newdf.append({'student':row['Id'],'team':row['Fag.3'],'absence':row['Fravær.3']}, ignore_index=True)

In [166]:
#drop any spars data
newdf = newdf.dropna()

In [167]:
#convert the absence from a string to float and removing the % symbole
arr =newdf["absence"].values
tmp = []
for x in arr:
    x= float(x.replace('%', ''))
    
    tmp.append(x)
newdf =newdf.drop(['absence'], axis=1)
newdf['absence'] = tmp

In [168]:

newdf.head()

    student          team  absence
0  866066.0       Angular    100.0
1  866066.0  Web Security    100.0
4  130671.0       Angular    100.0
5  130671.0  Web Security    100.0
8  313022.0       Angular    100.0

In [169]:
#remove all rows where the column absence is bigger then 75
newdf = newdf[newdf["absence"] <= 75.0]
#create an team id, so if we want to do ML that takes a parameter team, we can use team id.
team_encode,team_id = newdf['team'].factorize()
newdf["team_id"] = team_encode
columnsTitles=["student","team","team_id","absence"]
newdf=newdf.reindex(columns=columnsTitles)

In [170]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 531 entries, 89 to 890
Data columns (total 4 columns):
student    531 non-null float64
team       531 non-null object
team_id    531 non-null int64
absence    531 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 20.7+ KB

In [171]:
newdf.head()

      student             team  team_id  absence
89   645146.0  IT Governance 2        0     0.00
93   885986.0  IT Governance 2        0     0.00
97   552567.0  IT Governance 2        0     0.00
100  901019.0        Databases        1    50.00
104  802192.0          Angular        2    66.67